{% extends '/questionbase.html.twig' %}

{% block title %}Nouvelle question :{% endblock %}

{% block body %}

    {{ include('questions/_form.html.twig') }}

    <a href="{{ path('app_questions_index') }}">Retour à la liste</a>
{% endblock %}
